@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

/* Navigation Bar Background Color */
.w3-bar {
  background-color: #0b2447 !important;
  /* Override background color of the nav bar */
  overflow: hidden !important;
}

.w3-bar-item {
  color: #a5d7e8 !important;
  width: 100%;
  display: block;
  padding: 2vh 2vh !important;
  text-align: left;
  font-size: 3vh;
  border: none;
  white-space: normal;
  float: none;
  outline: 0; /* Override text color */
  transition: background-color 0.3s ease !important;
  z-index: 100 !important;
  overflow: hidden !important;
}

.w3-bar-item:hover {
  background-color: #19376d !important;
  color: #a5d7e8 !important; /* Override hover color */
}

.w3-red {
  background-color: #0b2447 !important;
}

@media screen and (max-width: 600px) and (max-height: 800px) {
  .w3-bar-item {
    color: #a5d7e8 !important;
    width: 100%;
    display: block;
    font-size: 2.5vh;
    padding: 2vh 4vh !important;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0; /* Override text color */
    overflow: hidden !important;
  }
}
